<!DOCTYPE html>
    <div class="container">
        <h1>User Sign Up</h1>
    </div>
    
    <div class="container">
        <form method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" value="{{username}}" required>
        <span class="error">{{username_error_message}}</span>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="{{password}}" required>
        <span class="error">{{password_error_message}}</span>
        
        <label for="password-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="password-repeat" required>
        <span class="error">{{password_error_message}}</span>
        
        <input type="submit" value="Submit">
        </form>
    </div>

    <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-
        bottom:15px"> Remember me
    </label>
       
    <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Sign Up</button>
    </div>

    </form>

   